{% extends 'flatpages/default.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}

{% block title %}
{% trans 'News' %}
{% endblock title %}

{% block content %}
<h3> {{ news.title|censor}}</h3>
<div>
    <p>{{ news.date|date:'d.m.Y'}}</p>
</div>
<div>
    <p>{{ news.text|censor }}</p>
</div>

{% if user.is_authenticated %}
<p>
    {% if perms.News.change_post %}
    <a href="{% url 'news_update' news.pk %}">{% trans 'Edit post' %}</a> |
    {% endif %}
    {% if perms.News.delete_post %}
    <a href="{% url 'news_delete' news.pk %}">{% trans 'Delete news' %}</a>
    {% endif %}
</p>
<p><a href="{% url 'news_subscribe' news.id %}">{% trans 'Subscribe' %}</a></p>
{% endif %}

<p>{% trans 'back to ' %}<a href="{% url 'news_list' %}">{% trans 'all post' %}</a></p>
<h4>{% trans 'Comments' %}</h4>
{% for comment in news.comments.all %}
<p>{{comment.user}} &middot; {{ comment }}</p>
{% endfor %}
<hr>

<h4>{% trans 'Add comment' %}</h4>
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">{% trans 'Save' %}</button>
</form>
{% endblock content %}

