{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}Новости{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h3>Статей на сайте: {{ news_list|length }}</h3>
<hr>
{% if news_list %}
{% for news in news_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><a href="{{ news.get_absolute_url }}">{{ news.title|censor }}</a></span>&middot;
        <span class="text-muted">{{ news.author }} |
                {{news.date|date:'d.m.Y'}}</span>
    </div>
    <div class="card-body">
        <p>{{ news.text|truncatewords:20|censor }}</p>
        {% if perms.News.change_post %}
        <a href="{% url 'news_update' news.pk %}">Изменить</a> |
        {% endif %}
        {% if perms.News.delete_post %}
        <a href="{% url 'news_delete' news.pk %}">Удалить</a>
        {% endif %}
    </div>
    <div class="card-footer text-center text-muted">
        {% for comment in news.comments.all %}
        <p>
                <span class="font-weight-bold">
                    {{ comment.user }} &middot;
                </span>
            {{ comment }}
        </p>
        {% endfor %}
    </div>
</div>
<br/>
{% endfor %}

{% else %}
<h2>Новостей нет.</h2>
{% endif %}

<div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; Предыдущая</a>
                <a href="?page=1">1</a>
                {% if page_obj.previous_page_number != 1 %}
                    ...
                    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
            {% endif %}

            <span class="current">
                 {% if paginator.num_pages > 1 %}
                    <strong>{{ page_obj.number }}</strong>
                {% endif %}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?page={{page_obj.paginator.num_pages}}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая &raquo;</a>
            {% endif %}
        </span>
</div>
{% endblock content %}
