{% extends 'flatpages/default.html' %}
{% load crispy_forms_tags %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h3> {{ news.title|censor}}</h3>
<div>
    <p>{{ news.date|date:'d.m.Y'}}</p>
</div>
<div>
    <p>{{ news.text|censor }}</p>
</div>

{% if user.is_authenticated %}
<p>
    {% if perms.News.change_post %}
    <a href="{% url 'news_update' news.pk %}">Редактировать пост</a> |
    {% endif %}
    {% if perms.News.delete_post %}
    <a href="{% url 'news_delete' news.pk %}">Удалить новость</a>
    {% endif %}
</p>
<p><a href="{% url 'news_subscribe' news.id %}">Подписатся</a></p>
{% endif %}

<p>Назад к <a href="{% url 'news_list' %}">Списку новостей</a></p>
<h4>Комментарии</h4>
{% for comment in news.comments.all %}
<p>{{comment.user}} &middot; {{ comment }}</p>
{% endfor %}
<hr>

<h4>Добавить комментарий</h4>
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">Сохранить</button>
</form>


{% endblock content %}

