{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h3> {{ news.title|censor}}</h3>
<div>
    <p>{{ news.date|date:'d.m.Y'}}</p>
</div>
<div>
    <p>{{ news.text|censor }}</p>
</div>
{% if user.is_authenticated %}
    <div>
        <button><a href="{% url 'news_subcribe' news.id %}">Подписатся</a></button>
    </div>
    <div>
        <p><a href="{% url 'news_update' news.pk %}">+ Редактировать новость</a></p>
        <p><a href="{% url 'news_delete' news.pk %}">+ Удалить новость</a></p>
    </div>

{% endif %}
{% endblock content %}

