{% extends 'flatpages/default.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Поиск статьей на сайте</h1>
    <form action="" method="GET">
        {{ filterset.form|crispy }}
        <input type="submit" value="Найти">
    </form>

    {% if news_list %}
    <ul>
        {% for news in news_list %}
        <li>
            <p>{{ news.date|date:'d.m.Y' }}</p>
            <h3><a href="{% url 'news' news.id %}">{{ news.title }}</a></h3>
            <p>{{ news.text|truncatewords:20}}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h2>Новостей нет.</h2>
    {% endif %}

    <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">&laquo; Предыдущая</a>
                        <a href="?page=1">1</a>
                        {% if page_obj.previous_page_number != 1 %}
                            ...
                            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        {% endif %}
                    {% endif %}

                    <span class="current">
                         {% if paginator.num_pages > 1 %}
                            {{ page_obj.number }}
                        {% endif %}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        {% if paginator.num_pages != page_obj.next_page_number %}
                        ...
                        <a href="?page={{page_obj.paginator.num_pages}}">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                        <a href="?page={{ page_obj.next_page_number }}">Следующая &raquo;</a>
                    {% endif %}
                </span>
    </div>
{% endblock %}