{% extends 'flatpages/default.html' %}
{% load i18n %}

{% block title %}
{% trans 'User Profile' %}
{% endblock title %}

{% block content %}
<h3> {{ profile.username}}</h3>
<div>
    <table>
        <tr>
            <td>{% trans 'First name' %}:</td>
            <td>{{ profile.first_name }}</td>
        </tr>
        <tr>
            <td>{% trans 'Last name' %}:</td>
            <td>{{ profile.last_name }}</td>
        </tr>
        <tr>
            <td>{% trans 'Email' %}:</td>
            <td>{{ profile.email }}</td>
        </tr>
    </table>
    {% if is_not_author %}
        <button><a class="btn btn-primary ml-2" href="/profile/upgrade">{% trans 'Become an author'%}</a></button>
    {% endif %}
    <a class="btn btn-primary ml-2" href="/profile/edit">{% trans 'Profile edit' %}</a>
    <a class="btn btn-primary ml-2" href="/accounts/logout">{% trans 'Log out' %}</a>
</div>
{% endblock content %}

