<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Здравствуй, {{ user }}. Новые статьи в твоих любимых разделах за неделю</title>
</head>
<body>
<h2> Здравствуй, {{ user }}. Новые статьи в твоих любимых разделах за неделю: </h2>
<ul>
    {% for post in list_of_post %}
    <li>
        <p>{{ post.date|date:'d.m.Y' }}</p>
        <h3><a href="http://127.0.0.1:8000{% url  'news' post.id %}">{{ post.title }}</a></h3>
        <p>{{ post.text|truncatewords:25 }}</p>
    </li>
    {% endfor %}
</ul>
</body>
</html>