{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h3>Статей на сайте: {{ news_list|length }}</h3>
<hr>
{% if news_list %}
<ul>
    {% for news in news_list %}
    <li>
        <p>{{ news.date|date:'d.m.Y' }}</p>
        <h3>{{ news.title|censor }}</h3>
        <p>{{ news.text|truncatewords:20|censor }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<h2>Новостей нет.</h2>
{% endif %}

{% endblock content %}
